/* * {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f0f0;
}
nav {
  background-color: #351431;
  display: flex;
  height: 85px;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul {
  list-style-type: none;
  position: absolute;
  top: 8px;
  right: 70px;
}
nav ul li {
  float: left;
  padding: 7px 10px;
}

nav ul li a {
  color: #ffffff;
  font-size: 27px;
  text-decoration: none;
}
nav ul li a:hover {
  /* background-color: #ddd;
    color: black; 
  text-decoration: underline;
  color:rgb(184, 184, 183);
}
.heading {
  color: #ffffff;
  position: absolute;
  font-size: 36px;
  top: 5px;
  left: 10px;
} */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f0f0;
}
nav {
  background-color: #351431;
  display: flex;
  height: 7vh;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul {
  list-style-type: none;
  position: absolute;
  top: -1vh;
  right: 1vw;
}
nav ul li {
  float: left;
  padding: 7px 10px;
}

nav ul li a {
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
}
nav ul li a:hover {
  /* background-color: #ddd;
    color: black; */
  text-decoration: underline;
  color:rgb(184, 184, 183);
}
.heading {
  color: #ffffff;
  position: absolute;
  font-size: 23px;
  top: 0vh;
  left: 1vw;
}
#heading_aboutus{
  font-family: 'Baloo Bhaijaan';
  position: absolute;
  top: 15rem;
  left: 12rem;
  font-size: 4.5rem; 
}
#text1{
  position: absolute;
  top: 25rem;
  height: 12rem;
  width: 30rem;
  font-family: "Alice", serif;
  font-weight: 400;
  font-size: 1.5rem;
  left: 14rem;
  text-align: center;
  line-height: 1.5;
}
#kids{
  position:absolute;
  top: 7vh;
  height: 102vh;
  right: 0rem;
  
}
.rotating-text-wrapper {
  height: 56vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  text-align: center;
  width: 30vw;
  position: relative;
  left: 15vw;
  font-family: "ramabhadra";
}
.rotating-text-wrapper h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0.3em;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-duration: 9s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.rotating-text-wrapper h2:nth-child(1) {
  background-color: lightseagreen;
  animation-name: rotating-text-1;
}
@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(2) {
  background-color: tomato;
  animation-name: rotating-text-2;
}
@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(3) {
  background-color: cornflowerblue;
  animation-name: rotating-text-3;
}
@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
}